<button style="visibility: hidden;" id="openDialogButton" onclick="window.dialog.showModal();">Open dialog</button>

<div class="container">
    <dialog style="z-index: 1000000;"  id="dialog" *ngIf="dialogOpen">
        <div id="wrapper">
          <div class="containerss">
            <header class="left header">
              <div class="title-header">
                <h1 style="color: #ffffff;" id="title" class="text-center">Annapurna Wholesale</h1>
                <p style="color: #ffffff;"  id="description" class="description text-center">Thank you for using our platform</p>
              </div>
            </header> 
            <!-- <div *ngIf="errorMessage" class="error-message">
              {{ errorMessage }}
            </div> -->
            
            <form  id="survey-form" class="right" *ngIf="!isSignUp" (ngSubmit)="login();" #loginForm="ngForm">
              
              <div class="form-set">
                <label id="name-label" for="email">Email</label>
                  <input placeholder="enter Your Email"
                  type="email" id="email" name="email" [(ngModel)]="email" required/>
              </div>
      <!-- 
              <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required>
              </div> -->
              <div class="form-set">
                <label id="name-label" for="password">Password:</label>
                  <input placeholder="enter Your password"
                  type="password" id="password" name="password" [(ngModel)]="password" required/>
              </div>
              <!-- <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" required>
              </div> -->
            
              <button type="submit" [disabled]="loginForm.invalid">Login</button>
              <p>Don't have an account? <a (click)="toggleSignup()">Sign up</a></p>
            </form>
            
            <form style="background-color: cornflowerblue; color: #ffffff;" *ngIf="isSignUp" (ngSubmit)="signup()" #signupForm="ngForm">
                <div class="form-set">
                  <label id="name-label" for="password">Customer Name:</label>
                  <input placeholder="Enter Your name" type="text" id="passw" name="name" [(ngModel)]="name" required/>
                </div>
              
                <div class="form-set">
                  <label id="name-label" for="password">Company Name:</label>
                  <input placeholder="Enter Your company Name" type="text" id="passwordfsdf" name="companyName" [(ngModel)]="companyName" required/>
                </div>
              
                <div class="form-set">
                  <label id="name-label" for="password">Address:</label>
                  <input placeholder="Enter Your Address" type="text" id="passwordwerwer" name="address" [(ngModel)]="address" required/>
                </div>
              
                <div class="form-set">
                  <label id="name-label" for="password">State:</label>
                  <input placeholder="Enter Your State" type="text" id="passwordgfhgf" name="state" [(ngModel)]="state" required/>
                </div>
              
                <div class="form-set">
                  <label id="name-label" for="password">City:</label>
                  <input placeholder="Enter Your City" type="text" id="passwordjkh" name="city" [(ngModel)]="city" required/>
                </div>
              
                <div class="form-set">
                  <label id="name-label" for="password">EIN number:</label>
                  <input placeholder="Enter Your EIN" type="text" id="passwordgfhrtrb" name="einNumber" [(ngModel)]="einNumber" required/>
                </div>
              
                <div class="form-set">
                  <label id="name-label" for="password">phoneNumber:</label>
                  <input placeholder="Enter Your phoneNumber" type="number" id="passwordgfd" name="phoneNumber" [(ngModel)]="phoneNumber" required/>
                </div>
              
                <div class="form-set">
                  <label id="name-label" for="email">Email</label>
                  <input placeholder="Enter Your Email" type="email" id="email" name="email" [(ngModel)]="email" required/>
                </div>
              
                <div class="form-set">
                  <label id="name-label" for="password">Password:</label>
                  <input placeholder="Enter Your password" type="password" id="password" name="password" [(ngModel)]="password" required/>
                </div>
              
                <button type="submit" [disabled]="signupForm.invalid">Sign up</button>
                <p>Already have an account? <a (click)="toggleSignup()">Login</a></p>
              </form>
          </div>
        </div>
      
      </dialog>
</div>

<div *ngIf="!loading">
    <div class="container-fluid" *ngFor="let product of product">
        <div class="cart">
            <div class="row row1">
                <div class="col-md-4">
                    <img [src]="product.imageUrl" width="100%" id="ProductImg">
                    <div class="small-imgs">
                        <img [src]="product.imageUrl1" width="100%" class="small-img">
                        <img [src]="product.imageUrl2" width="100%" class="small-img">
                    </div>                
                </div>
                <div class="col-md-6">
                    <h1 class="product-title">{{product.productName}}</h1>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                        <p>240 reviews</p>
                    </div>
                    <div class="price">
                        <span>{{product.productPrice}}</span>
                        <span></span>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-4">
                            <h4>Color</h4>
                            <div class="colors">
                                <div class="black"></div>
                                <div class="red"></div>
                                <div class="white"></div>
                                <div class="yellow"></div>
                            </div>
                        </div>
                        <div class="col-md-4 sze">
                            <h5>Size</h5>
                            <select class="size custom-select">
                                <option>Select Size</option>
                                <option>39</option>
                                <option>40</option>
                                <option>41</option>
                                <option>42</option>
                            </select>
                        </div>
                        <div class="col-md-4 qty">
                            <h5>Quantity</h5>
                            <select class="quantity custom-select">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div> -->
                    <div id="product" class="product-inf">
                        <ul>
                          <li class="active"><a href="#Description">Product Description</a></li>
                          <!-- <li><a href="#Details">Product Details</a></li> -->
                        </ul>
                        <div class="tabs-content">
                            <div id="Description">
                                <p>{{product.productDescription}}</p>
                            </div>
                            <!-- <div id="Details" >
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque sequi eaque quisquam corrupti reprehenderit exercitationem iusto asperiores quae commodi quo?</p>
                            </div> -->
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="row">
                            <div class="col-md-6">
                                <a (click)="addToCart(product)" class="custom-btn">Add To Cart <i class="fas fa-angle-right"></i></a>
                            </div>
                            <div class="col-md-6">
                                <input style="    width: 167px;
                                background-color: #54a4f9;
                                height: 40px;
                                margin-top: 22px;
                                color: #000000;
                                border-radius: 20px;
                                padding-left: 8px;" [(ngModel)]="quantity" placeholder="Enter The Quantity" type="number"  min="1" name="productQuantity">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>


<div *ngIf="loading" v-if="loading" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>



  
  


<script src="script.js"></script>