<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="call()" color="light"><ion-icon name="call-sharp"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="about">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">About Us</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The Royal Insurance Corporation of Bhutan Limited (RICB) is the country's second oldest financial
      institute incorporated on 7th January 1975 under the Royal Charter of His Majesty the Fourth Druk
      Gyalpo Jigme Singye Wangchuck. RICB offers various services such as Life Insurance, General
      Insurance, Credit Facilities and other Social Security Schemes.
    </ion-card-content>
  </ion-card>

  <ion-card class="no-shadow">
    <ion-card-header>
      <ion-card-title color="primary">Vision</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      To be the premier financial service provider in the country and beyond, securing the ever evolving
      aspirations of the society.
    </ion-card-content>
  </ion-card>

  <ion-card class="no-shadow">
    <ion-card-header>
      <ion-card-title color="primary">Mission</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      We offer premier insurance, credit, and other social security services, delivering personalized services
      at affordable cost by professional employees through comprehensive network. We strive to enhance mutually
      beneficial relationship to satisfy our stakeholders.
    </ion-card-content>
  </ion-card>

  <ion-card class="no-shadow">
    <ion-card-header>
      <ion-card-title color="primary">Core Values: Tactics</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="">
        <i>
          <strong>T</strong>ransparency - Openness is our name
        </i>
      </div>
      <div class="">
        <i>
          <strong>A</strong>ccountability - Honouring our responsibility
        </i>
      </div>
      <div class="">
        <i>
          <strong>C</strong>ommitment - Delivering our promises
        </i>
      </div>
      <div class="">
        <i>
          <strong>T</strong>eam Work - United we stand
        </i>
      </div>
      <div class="">
        <i>
          <strong>I</strong>ntegrity - Playing by the rules
        </i>
      </div>
      <div class="">
        <i>
          <strong>C</strong>reativity - New day, new ideas
        </i>
      </div>
      <div class="">
        <i>
          <strong>S</strong>pecialization - Pursuing greater heights
        </i>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
