.about {
    text-align: justify;
}

ion-toolbar {
    --background: #428cff;
    --color: #fff;
}

ion-card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
