<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>MyRICB</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openPopover($event)"><ion-icon style="color: white;" name="ellipsis-vertical-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div style="display: flex; align-items: center;justify-content: center;">
      <img class="logo" src="../../assets/images/logo.png"/>
    </div>
    <ion-list>
      <ion-item  (click)="type1()">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <span> Self Ownership </span>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
      <ion-item  (click)="type2()">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <span> Different Owner </span>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
