
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

<script type="text/javascript">
  emailjs.init('LbNjrA62NgKQo88NX')
</script>



<section class="cart_wrapper">
  <div class="cart_lists">
    <div class="cart_title">
      <span class="material-icons-outlined">local_mall</span>
      Your Shopping Cart
    </div>


    <div class="cart_list_wrap">
      <div class="cart_responsive" *ngFor="let item of cartItems">
        <div class="tr_item">
          <div class="td_item item_img">
            <img [src]="item.imageUrl" alt="Product Image">
          </div>
          <div class="td_item item_name">
            <label class="main">{{ item.productName }}</label>
            <label class="sub">{{ item.productDescription }}</label>
          </div>
          <div class="td_item item_color">
            <label>Quantity &#8594;</label>
          </div>
          <div class="td_item item_qty">
            <input style="width: 67px;" placeholder="" type="number" [(ngModel)]="item.quantity" min="1" name="productQuantity">
          </div>
          <div class="td_item item_price">
            <label>{{ item.productPrice }}</label>
          </div>
          <div class="td_item item_remove">
            <span class="material-icons-outlined" (click)="removeFromCart(item.id)">close</span>
          </div>
        </div>

       

       

       

      </div>
      <div class="footer">
        <div class="back_cart">
          <a href="#back">
            <span class="material-icons-outlined">west</span>
            Back to Shop
          </a>
        </div>
        <div class="subtotal">
          <label>Subtotal: </label>
          <strong>$ {{totalPrice}}</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="cart_details">
    <div class="cart_title">
      Cart Details
    </div>
    <div class="form_row">

      <div class="form_group">
        <label class="input_label">Phone Number</label>
        <input class="input" placeholder="" type="number" [(ngModel)]="phoneNumber"  name="phoneNumber">
      </div>

      <div class="form_group w_75">
        <label class="input_label">Address</label>
        <input class="input" placeholder="" type="text" [(ngModel)]="address"  name="address">
      </div>

      <div class="form_group w_25">
        <label class="input_label">EIN </label>
        <input class="input" placeholder="" type="text" [(ngModel)]="ein"  name="ein">
      </div>

      <button  type="submit" id="button" (click)="sendEmails()" class="btn">Checkout</button>
    </div>

  </div>
</section>