
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

<script type="text/javascript">
  emailjs.init('LbNjrA62NgKQo88NX')
</script>



<section class="cart_wrapper" *ngIf="!loading">
  <div class="cart_lists">
    <div class="cart_title">
      <span class="material-icons-outlined">local_mall</span>
      Your Shopping Cart
    </div>


      <div class="wrapperAlert" *ngIf="showModal">

        <div class="contentAlert">
      
          <div class="topHalf">
      
            <p><svg viewBox="0 0 512 512" width="100" title="check-circle">
              <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
              </svg></p>
            <h1>Congratulations</h1>
      
           <ul class="bg-bubbles">
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
           </ul>
          </div>
      
          <div class="bottomHalf">
      
            <p>Well Done!, we are waiting for you to send us your order...</p>
      
            <button id="alertMO" (click)="closeModal()" >Moving On</button>
      
          </div>
      
        </div>        
      
      </div>
      <!-- <div class="page-wrapper" *ngIf="showModal">
        <div class="custom-modal">
          <div class="succes succes-animation icon-top"><i class="fa fa-check"></i></div>
          <div class="succes border-bottom"></div>
          <div class="content">
            <p class="type">Appointment</p>
            <p class="message-type">Succesfully Boocked</p>
          </div>
        </div>
        
      
      </div> -->
      
    <div class="cart_list_wrap" *ngIf="!showModal">
      <div class="cart_responsive" *ngFor="let item of cartItems">
        <div class="tr_item">
          <div class="td_item item_img">
            <img [src]="item.imageUrl" alt="Product Image">
          </div>
          <div class="td_item item_name">
            <label class="main">{{ item.productName }}</label>
            <label class="sub">{{ item.productDescription }}</label>
          </div>
          <div class="td_item item_color">
            <label>Quantity &#8594;</label>
          </div>
          <div class="td_item item_qty">
            <input style="width: 67px;" value="item.quantity" placeholder="1" type="number" [(ngModel)]="item.quantity" min="10" name="productQuantity">
          </div>
          <div class="td_item item_price">
            <label>{{ item.productPrice }}</label>
          </div>
          <div class="td_item item_remove">
            <span class="material-icons-outlined" (click)="removeFromCart(item.id)">close</span>
          </div>
        </div>

       
   
       

       

      </div>
      <div class="footer">
        <div class="back_cart">
          <a href="#back">
            <span class="material-icons-outlined">west</span>
            Back to Shop
          </a>
        </div>
        <div class="subtotal">
          <label>Subtotal: </label>
          <strong>$ {{totalPrice}}</strong>
         
        </div>
        <button style="background-color: #0dcaf0;
        color: black;
        font-size:large;"  type="submit" id="button" (click)="sendEmails()" class="btn">Checkout</button>
      </div>
    </div>
  </div>
  
</section>

<div *ngIf="loading" v-if="loading" class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>