
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

<script type="text/javascript">
  emailjs.init('LbNjrA62NgKQo88NX')
</script>



<section class="cart_wrapper" *ngIf="!loading">
  <div class="cart_lists">
    <div class="cart_title">
      <span class="material-icons-outlined">local_mall</span>
      Your Shopping Cart
    </div>

    <div class="wrapper" style="margin-left: 21.5em; margin-right: 21.5em;" *ngIf="showModal">

      <div class="windows">
      <div class="windowsHeader">Welcome to Annapurna <a (click)="closeModal()">X</a></div>
      <div class="windowsBody">
      <div class="windowsBodyText">You are successfully loggedIn<br><br>
      We are waiting for your email!!
      </div>
      <a class="windowsButton" (click)="closeModal()">ok</a>
      </div>
      </div>
      
      
      </div>
      <!-- <div class="page-wrapper" *ngIf="showModal">
        <div class="custom-modal">
          <div class="succes succes-animation icon-top"><i class="fa fa-check"></i></div>
          <div class="succes border-bottom"></div>
          <div class="content">
            <p class="type">Appointment</p>
            <p class="message-type">Succesfully Boocked</p>
          </div>
        </div>
        
      
      </div> -->
      
    <div class="cart_list_wrap">
      <div class="cart_responsive" *ngFor="let item of cartItems">
        <div class="tr_item">
          <div class="td_item item_img">
            <img [src]="item.imageUrl" alt="Product Image">
          </div>
          <div class="td_item item_name">
            <label class="main">{{ item.productName }}</label>
            <label class="sub">{{ item.productDescription }}</label>
          </div>
          <div class="td_item item_color">
            <label>Quantity &#8594;</label>
          </div>
          <div class="td_item item_qty">
            <input style="width: 67px;" value="item.quantity" placeholder="1" type="number" [(ngModel)]="item.quantity" min="10" name="productQuantity">
          </div>
          <div class="td_item item_price">
            <label>{{ item.productPrice }}</label>
          </div>
          <div class="td_item item_remove">
            <span class="material-icons-outlined" (click)="removeFromCart(item.id)">close</span>
          </div>
        </div>

       
   
       

       

      </div>
      <div class="footer">
        <div class="back_cart">
          <a href="#back">
            <span class="material-icons-outlined">west</span>
            Back to Shop
          </a>
        </div>
        <div class="subtotal">
          <label>Subtotal: </label>
          <strong>$ {{totalPrice}}</strong>
         
        </div>
        <button style="background-color: #0dcaf0;
        color: black;
        font-size:large;"  type="submit" id="button" (click)="sendEmails()" class="btn">Checkout</button>
      </div>
    </div>
  </div>
  
</section>

<div *ngIf="loading" v-if="loading" class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>