<div class="container bg-trasparent my-4 p-3" style="position: relative">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search By Product" class="form-control mb-3">
  
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3 mb-5">
    <div *ngFor="let image of filterProducts()"  class="col">
      <div class="card h-100 shadow-sm">
        <a href="#">
          <img src="{{image.imageUrl}}" class="card-img-top" alt="product.title" />
        </a>
        <div class="label-top shadow-sm">
          <a class="text-white" href="#">{{image.productName}}</a>
        </div>
        <div class="card-body">
          <div class="clearfix mb-3">
            <span class="float-start badge rounded-pill bg-success">{{image.productPrice}}</span>
            <span class="float-end">
              <a href="#" class="small text-muted text-uppercase aff-link">reviews</a>
            </span>
          </div>
          <h5 class="card-title">
            <a target="_blank" href="#">{{image.productDescription}}</a>
          </h5>
          <div class="d-grid gap-2 my-4">
            <a class="btn btn-warning bold-btn" (click)="redirect(image.id)">Purchase</a>
          </div>
          <div class="clearfix mb-1">
            <span class="float-start">
              <a href="#"><i class="fas fa-question-circle"></i></a>
            </span>
            <span class="float-end">
              <i class="far fa-heart" style="cursor: pointer"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<button style="visibility: hidden;" id="openDialogButton" onclick="window.dialog.showModal();">Open dialog</button>

<dialog style="z-index: 1000000;"  id="dialog" *ngIf="dialogOpen">
  <div id="wrapper">
    <div class="containerss">
      <header class="left header">
        <div class="title-header">
          <h1 style="color: #ffffff;" id="title" class="text-center">Annapurna Wholesale</h1>
          <p style="color: #ffffff;"  id="description" class="description text-center">Thank you for using our platform</p>
        </div>
      </header> 
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      
      <form  id="survey-form" class="right" *ngIf="!isSignUp" (ngSubmit)="login();" #loginForm="ngForm">
        
        <div class="form-set">
          <label id="name-label" for="email">Email</label>
            <input placeholder="enter Your Email"
            type="email" id="email" name="email" [(ngModel)]="email" required/>
        </div>
<!-- 
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" [(ngModel)]="email" required>
        </div> -->
        <div class="form-set">
          <label id="name-label" for="password">Password:</label>
            <input placeholder="enter Your password"
            type="password" id="password" name="password" [(ngModel)]="password" required/>
        </div>
        <!-- <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div> -->
      
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
        <p>Don't have an account? <a (click)="toggleSignup()">Sign up</a></p>
      </form>
      
      <form style="background-color: cornflowerblue; color: #ffffff;" *ngIf="isSignUp" (ngSubmit)="signup()" #signupForm="ngForm">
        <div class="form-set">
          <label id="name-label" for="password">Customer Name:</label>
            <input placeholder="Enter Your name"
            type="text" id="password"  required/>
        </div>

        <div class="form-set">
          <label id="name-label" for="password">Company Name:</label>
            <input placeholder="Enter Your company Name"
            type="text" id="password" required/>
        </div>

        <div class="form-set">
          <label id="name-label" for="password">Company Name:</label>
            <input placeholder="Enter Your company Name"
            type="text" id="password" required/>
        </div>

        <div class="form-set">
          <label id="name-label" for="password">Address:</label>
            <input placeholder="Enter Your Address"
            type="text" id="password" required/>
        </div>

        
        <div class="form-set">
          <label id="name-label" for="password">State:</label>
            <input placeholder="Enter Your State"
            type="text" id="password" required/>
        </div>

        <div class="form-set">
          <label id="name-label" for="password">City:</label>
            <input placeholder="Enter Your City"
            type="text" id="password" required/>
        </div>

        <div class="form-set">
          <label id="name-label" for="password">EIN number:</label>
            <input placeholder="Enter Your EIN"
            type="text" id="password" required/>
        </div>
        
        <div class="form-set">
          <label id="name-label" for="email">Email</label>
            <input placeholder="enter Your Email"
            type="email" id="email" name="email" [(ngModel)]="email" required/>
        </div>
      
        <div class="form-set">
          <label id="name-label" for="password">Password:</label>
            <input placeholder="enter Your password"
            type="password" id="password" name="password" [(ngModel)]="password" required/>
        </div>
      
        <button type="submit" [disabled]="signupForm.invalid">Sign up</button>
        <p>Already have an account? <a (click)="toggleSignup()">Login</a></p>
      </form>
    </div>
  </div>

</dialog>

