.form-header {
  text-align: center;
  background-color: #3880ff;
  padding: 10px;
  color: white;
  letter-spacing: 1px;
}

ion-list {
  padding: 10px;
}

img {
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}


.is-empty-state-content {
width: 100%;
text-align:center;
padding-left: 32px;
padding-right: 32px;
padding-top: 12vh;
height: 100%;

img {
  width: 55%;
  max-width: 300px;
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 30px;
}
}

.theme-light {
background: #f0f4f4;
}

ion-item{
  --background: #3880ff;
  --color:white;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 40px;
  font-size: 15px;

  ion-icon{
    color: #fff;
  }
}

.header-image{
  --background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzUjgVQTMZoUK8bNR6CG4B9YfcFRPDGhVZj9Gaj5io7ptWiPx6pTZR2B3BsCYyBwIn8yg&usqp=CAU) 0 0/100% 100% no-repeat;

  border-radius: 1px;
}

