<div *ngIf="checkUrl" class="nav-bar" style="z-index: 999;
position: relative;background: -webkit-linear-gradient(#ffc535, #ff8108);
background: -webkit-linear-gradient(#ffc535, #ff8108);
width: 100%;">
  <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <img style="mix-blend-mode: color-burn;" height="70px" src="/assets/logo.jpg"> &nbsp;
    <a class="navbar-brand" href="#" style="color: rgb(238 55 7);font-size: 30px;
    font-weight: bold;">Annapurna Wholesale</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" style="max-width: 100%;">
          <section class="early">
            <article>  
              <marquee style="color: #ffffff;
              font-weight: bolder;
              font-size: 25px;
              margin-top: 1%;" behavior="scroll" direction="left">Discover the best deals on a wide range of high-quality products for your business at our wholesale prices. From trendy electronics to top-notch beauty essentials, we have everything you need to elevate your inventory and attract satisfied customers. Explore our vast selection today and take your business to new heights!</marquee>
              </article>
          </section>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
</div>
<div class="nav" style="justify-content: center; z-index: 999;">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <!-- <div class="nav-title">
      JoGeek
    </div> -->
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <a  (click)="accessories()" >Accessories</a>
    <a  (click)="wareHouse()">Houseware</a>
    <a  (click)="healthAndBeauty()">Health & Beauty</a>
    <a  (click)="despicableVape()">Disposable Vape</a>
    <a  (click)="electronic()">Electronic</a>
  </div>
</div>

<!-- ---------------------- Watermark (Please Ignore) ---------------------- -->
<div class="watermark-ctr">
  <a target="_blank" href="https://www.facebook.com/annapurnafoodandgrocery?mibextid=LQQJ4d">
    <button class="generate-button">
      <svg class="icon" viewBox="0 0 24 26">
        <path d="M5.16515 2.62145L5.8075 0.999247C5.83876 0.919722 5.9154 0.866699 6.00112 0.866699C6.08683 0.866699 6.16347 0.919722 6.19473 0.999247L6.83708 2.62145L8.44145 3.27094C8.5201 3.30254 8.57254 3.38003 8.57254 3.4667C8.57254 3.55337 8.5201 3.63085 8.44145 3.66246L6.83708 4.31195L6.19473 5.93415C6.16347 6.0147 6.08683 6.0667 6.00112 6.0667C5.9154 6.0667 5.83876 6.0147 5.8075 5.93415L5.16515 4.31195L3.56078 3.66246C3.48112 3.63085 3.42969 3.55337 3.42969 3.4667C3.42969 3.38003 3.48112 3.30254 3.56078 3.27094L5.16515 2.62145Z" />
        <path d="M11.2362 9.43967C11.5502 9.30067 11.8015 9.05025 11.9405 8.73617L13.5494 5.11725C13.7169 4.74204 14.0887 4.5 14.5 4.5C14.9112 4.5 15.2839 4.74204 15.4506 5.11725L17.0603 8.73617C17.1985 9.05025 17.4497 9.3015 17.7638 9.43967L21.3827 11.0494C21.7579 11.2161 22 11.5887 22 12C22 12.4112 21.7579 12.7831 21.3827 12.9506L17.7638 14.5595C17.4497 14.6985 17.1993 14.9497 17.0603 15.2638L15.4506 18.8827C15.2839 19.2579 14.9112 19.5 14.5 19.5C14.0887 19.5 13.7169 19.2579 13.5494 18.8827L11.9405 15.2638C11.8015 14.9497 11.5502 14.6985 11.2362 14.5595L7.61725 12.9506C7.24204 12.7831 7 12.4112 7 12C7 11.5887 7.24204 11.2161 7.61725 11.0494L11.2362 9.43967Z" />
        <path d="M4.60728 19.392L5.67703 16.6875C5.72997 16.5541 5.85854 16.4666 6.00056 16.4666C6.14258 16.4666 6.27031 16.5541 6.32325 16.6875L7.39299 19.392L10.0678 20.4736C10.1997 20.5271 10.2863 20.6563 10.2863 20.7999C10.2863 20.9435 10.1997 21.0735 10.0678 21.1271L7.39299 22.2087L6.32325 24.9123C6.27031 25.0457 6.14258 25.1332 6.00056 25.1332C5.85854 25.1332 5.72997 25.0457 5.67703 24.9123L4.60728 22.2087L1.93333 21.1271C1.8014 21.0735 1.71484 20.9435 1.71484 20.7999C1.71484 20.6563 1.8014 20.5271 1.93333 20.4736L4.60728 19.392Z" />
      </svg>
      <span>Social Links</span>
    </button></a>
</div>


<button style="visibility: hidden;" id="openDialogButton" onclick="window.dialog.showModal();">Open dialog</button>

<dialog  id="dialog">
  <div id="wrapper">
    <div class="container">
      <header class="left header">
        <div class="title-header">
          <h1 style="color: #ffffff;" id="title" class="text-center">Annapurna Wholesale</h1>
          <p style="color: #ffffff;"  id="description" class="description text-center">Thank you for using our platform</p>
        </div>
      </header> 
      <form id="survey-form" class="right">
        <div class="form-set">
          <label id="name-label" for="name">Name</label>
            <input
                   type="text"
                   name="name"
                   id="name"
                   class="form-control"
                   placeholder="Enter your name"
                   required/>
        </div>
    
        <div class="form-set">
          <label id="email-label" for="email">E-mail</label>
            <input
                   type="email"
                   name="email"
                   id="email"
                   class="form-control"
                   placeholder="Enter your e-mail"
                   required/>
        </div>
    
        <div class="form-set">
          <label id="number-label" for="number">Phone Number<span class="clue"> (optional)</span></label>
            <input
                   type="number"
                   name="age"
                   id="number"
                   min="17"
                   max="99"
                   class="form-control"
                   placeholder="Phone"/>
        </div>
    
        <div class="form-set">
          <label id="drop-label">Which Country Are You From?</label>
          <select id="dropdown" name="role" class="form-control" required>
            <option disabled selected value>Select current role</option>
            <option value="student">USA</option>
            <option value="job">Canada</option>
            <option value="learner">Australia</option>
            <option value="preferNo">India</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="form-set">
          <p id="textarea-label">Any comments or suggestions?</p>
            <textarea
                      id="comments"
                      class="input-textarea"
                      name="comment"
                      placeholder="Enter your comment here...">  
            </textarea>
        </div>
      
       <div class="form-set">
          <button class="close" type="submit" id="submit" value="Submit" class="submit-button">
            <!-- Submit -->
          </button>
       </div>
      </form>
    </div>
  </div>
  <form method="dialog">
    <button class="close">Close</button>
  </form>
</dialog>


<div>
    <router-outlet></router-outlet>
</div>
<div *ngIf="!checkUrl">
    <router-outlet></router-outlet>
</div>