<div *ngIf="!isLoggedIn">
  <div *ngIf="checkUrl" class="nav-bar" style="z-index: 999;
  position: relative;background: -webkit-linear-gradient(#ffc535, #ff8108);
  background: -webkit-linear-gradient(#ffc535, #ff8108);
  width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <img style="mix-blend-mode: color-burn;" height="70px" src="/assets/logo.jpg"> &nbsp;
      <a class="navbar-brand" href="#" style="color: rgb(238 55 7);font-size: 30px;
      font-weight: bold;">Annapurna Wholesale</a>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" style="max-width: 95%;">
            <section class="early">
              <article>  
                <marquee style="color: #ffffff;
                font-weight: bolder;
                font-size: 25px;
                margin-top: 1%;" behavior="scroll" direction="left">Discover the best deals on a wide range of high-quality products for your business at our wholesale prices. From trendy electronics to top-notch beauty essentials, we have everything you need to elevate your inventory and attract satisfied customers. Explore our vast selection today and take your business to new heights!</marquee>
                </article>
            </section>
          </li>
        </ul>
        
      </div>
      <div>
        <a (click)="redirect()"><i style="font-size:24px" class="fa">&#xf290;</i> </a>
      </div>
    </div>
  </nav>
  </div>

  <div *ngIf="checkUrl" class="nav" style="justify-content: center; z-index: 999;">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
  
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a  (click)="accessories()" >Accessories</a>
      <a  (click)="wareHouse()">Houseware</a>
      <a  (click)="healthAndBeauty()">Health & Beauty</a>
      <a  (click)="despicableVape()">Disposable Vape</a>
      <a  (click)="electronic()">Electronic</a>
      <!-- <a (click)="redirect()">Cart &nbsp; <i style="font-size:24px" class="fa">&#xf290;</i> </a> -->
    </div>
  </div>
  <!-- <button style="visibility: hidden;" id="openDialogButton" onclick="window.dialog.showModal();">Open dialog</button> -->
  <router-outlet></router-outlet>
  <dialog style="z-index: 1000000;"  id="dialog" *ngIf="dialogOpen">
    <div id="wrapper">
      <div class="containerss">
        <header class="left header">
          <div class="title-header">
            <h1 style="color: #ffffff;" id="title" class="text-center">Annapurna Wholesale</h1>
            <p style="color: #ffffff;"  id="description" class="description text-center">Thank you for using our platform</p>
          </div>
        </header> 
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        
        <form  id="survey-form" class="right" *ngIf="!isSignUp" (ngSubmit)="login();" #loginForm="ngForm">
          <div class="form-set">
            <label id="name-label" for="email">Email</label>
              <input placeholder="enter Your Email"
              type="email" id="email" name="email" [(ngModel)]="email" required/>
          </div>
          <!-- 
          <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required>
          </div> -->
          <div class="form-set">
            <label id="name-label" for="password">Password:</label>
              <input placeholder="enter Your password"
              type="password" id="password" name="password" [(ngModel)]="password" required/>
          </div>
          <!-- <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
          </div> -->
        
          <button type="submit" [disabled]="loginForm.invalid">Login</button>
          <p>Don't have an account? <a (click)="toggleSignup()">Sign up</a></p>
        </form>
        
        <form style="background-color: cornflowerblue; color: #ffffff;" *ngIf="isSignUp" (ngSubmit)="signup()" #signupForm="ngForm">
          <div class="form-set">
            <label id="name-label" for="password">Customer Name:</label>
              <input placeholder="Enter Your name"
              type="text" id="password"  required/>
          </div>
  
          <div class="form-set">
            <label id="name-label" for="password">Company Name:</label>
              <input placeholder="Enter Your company Name"
              type="text" id="password" required/>
          </div>
  
          <div class="form-set">
            <label id="name-label" for="password">Address:</label>
              <input placeholder="Enter Your Address"
              type="text" id="password" required/>
          </div>
  
          
          <div class="form-set">
            <label id="name-label" for="password">State:</label>
              <input placeholder="Enter Your State"
              type="text" id="password" required/>
          </div>
  
          <div class="form-set">
            <label id="name-label" for="password">City:</label>
              <input placeholder="Enter Your City"
              type="text" id="password" required/>
          </div>
  
          <div class="form-set">
            <label id="name-label" for="password">EIN number:</label>
              <input placeholder="Enter Your EIN"
              type="text" id="password" required/>
          </div>

          <div class="form-set">
            <label id="name-label" for="password">phoneNumber:</label>
              <input placeholder="Enter Your phoneNumber"
              type="number" id="password" required/>
          </div>
          
          <div class="form-set">
            <label id="name-label" for="email">Email</label>
              <input placeholder="Enter Your Email"
              type="email" id="email" name="email" [(ngModel)]="email" required/>
          </div>
        
          <div class="form-set">
            <label id="name-label" for="password">Password:</label>
              <input placeholder="Enter Your password"
              type="password" id="password" name="password" [(ngModel)]="password" required/>
          </div>
        
          <button type="submit" [disabled]="signupForm.invalid">Sign up</button>
          <p>Already have an account? <a (click)="toggleSignup()">Login</a></p>
        </form>
      </div>
    </div>
  
  </dialog>
  
  

  <div *ngIf="!checkUrl">
      <router-outlet></router-outlet>
  </div>
</div>




<!-- icons  -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

<body>
  <div class=" flex-r container" *ngIf="isLoggedIn">
    <div class="flex-r login-wrapper">
      <div class="login-text">
        <!-- <div class="logo">
          <span><i class="fab fa-speakap"></i></span>
          <span>Coders</span>
        </div> -->
        <h1>Sign Up</h1>
        <p>It's not long before you embark on this journey! </p>
        <div *ngIf="errorMessageAlert" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
        <form class="flex-c" *ngIf="!isSignUp" (ngSubmit)="login();" #loginForm="ngForm">
          <div class="form-set">
            <label id="name-label" for="email">Email</label>
              <input placeholder="enter Your Email"
              type="email" id="email" name="email" [(ngModel)]="email" required/>
          </div>
          <!-- 
          <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required>
          </div> -->
          <div class="form-set">
            <label id="name-label" for="password">Password:</label>
              <input placeholder="enter Your password"
              type="password" id="password" name="password" [(ngModel)]="password" required/>
          </div>
          <!-- <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
          </div> -->
        
          <button type="submit" [disabled]="loginForm.invalid">Login</button>
          <p>Don't have an account? <a (click)="toggleSignup()">Sign up</a></p>
        </form>
        <form class="flex-c" *ngIf="isSignUp" (ngSubmit)="signup()" #signupForm="ngForm">
          <div *ngIf="errorMessageAlert" class="alert alert-danger" role="alert">
            {{errorMessage}}
          </div>
          <div class="form-set">
            <label id="name-label" for="name">Customer Name:</label>
            <input placeholder="Enter Your name" type="text" id="name" name="name" [(ngModel)]="name" required />
          </div>
        
          <div class="form-set">
            <label id="company-name-label" for="companyName">Company Name:</label>
            <input placeholder="Enter Your company Name" type="text" id="companyName" name="companyName" [(ngModel)]="companyName" required />
          </div>
        
          <div class="form-set">
            <label id="address-label" for="address">Address:</label>
            <input placeholder="Enter Your Address" type="text" id="address" name="address" [(ngModel)]="address" required />
          </div>
        
          <div class="form-set">
            <label id="state-label" for="state">State:</label>
            <input placeholder="Enter Your State" type="text" id="state" name="state" [(ngModel)]="state" required />
          </div>
        
          <div class="form-set">
            <label id="city-label" for="city">City:</label>
            <input placeholder="Enter Your City" type="text" id="city" name="city" [(ngModel)]="city" required />
          </div>
        
          <div class="form-set">
            <label id="ein-label" for="einNumber">EIN number:</label>
            <input placeholder="Enter Your EIN" type="text" id="einNumber" name="einNumber" [(ngModel)]="einNumber" required />
          </div>
        
          <div class="form-set">
            <label id="phone-label" for="phoneNumber">Phone number:</label>
            <input placeholder="Enter Your phone number" type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber" required />
          </div>
        
          <div class="form-set">
            <label id="email-label" for="email">Email</label>
            <input placeholder="Enter Your Email" type="email" id="email" name="email" [(ngModel)]="email" required />
          </div>
        
          <div class="form-set">
            <label id="password-label" for="password">Password:</label>
            <input placeholder="Enter Your password" type="password" id="password" name="password" [(ngModel)]="password" required />
          </div>
        
          <button type="submit" [disabled]="signupForm.invalid">Sign up</button>
          <p>Already have an account? <a (click)="toggleSignup()">Login</a></p>
        </form>
        
      </div>
    </div>
  </div>
</body>



  