<div *ngIf="checkUrl" class="nav-bar" style="z-index: 999;
position: relative;background: -webkit-linear-gradient(#ffc535, #ff8108);
background: -webkit-linear-gradient(#ffc535, #ff8108);
width: 100%;">
  <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <img style="mix-blend-mode: color-burn;" height="70px" src="/assets/logo.jpg"> &nbsp;
    <a class="navbar-brand" href="#" style="color: rgb(238 55 7);font-size: 30px;
    font-weight: bold;">Annapurna Wholesale</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" style="max-width: 100%;">
          <section class="early">
            <article>  
              <marquee style="color: #ffffff;
              font-weight: bolder;
              font-size: 25px;
              margin-top: 1%;" behavior="scroll" direction="left">Discover the best deals on a wide range of high-quality products for your business at our wholesale prices. From trendy electronics to top-notch beauty essentials, we have everything you need to elevate your inventory and attract satisfied customers. Explore our vast selection today and take your business to new heights!</marquee>
              </article>
          </section>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
</div>
<div class="nav" style="justify-content: center; z-index: 999;">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <!-- <div class="nav-title">
      JoGeek
    </div> -->
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <a  (click)="accessories()" >Accessories</a>
    <a  (click)="wareHouse()">Houseware</a>
    <a  (click)="healthAndBeauty()">Health & Beauty</a>
    <a  (click)="despicableVape()">Disposable Vape</a>
    <a  (click)="electronic()">Electronic</a>
    <a (click)="cart()">Cart &nbsp; <i style="font-size:24px" class="fa">&#xf290;</i> </a>
  </div>
</div>

<!-- ---------------------- Watermark (Please Ignore) ---------------------- -->
<div class="watermark-ctr">
  <a target="_blank" href="https://www.facebook.com/annapurnafoodandgrocery?mibextid=LQQJ4d">
    <button class="generate-button">
      <i class="fab fa-facebook-f"></i>
      &nbsp;&nbsp;
      <span>Facebook</span>
    </button></a>
</div>


<button style="visibility: hidden;" id="openDialogButton" onclick="window.dialog.showModal();">Open dialog</button>

<dialog  id="dialog" *ngIf="dialogOpen">
  <div id="wrapper">
    <div class="container">
      <header class="left header">
        <div class="title-header">
          <h1 style="color: #ffffff;" id="title" class="text-center">Annapurna Wholesale</h1>
          <p style="color: #ffffff;"  id="description" class="description text-center">Thank you for using our platform</p>
        </div>
      </header> 
      <form id="survey-form" class="right" #f="ngForm" (ngSubmit)="confirm(f); dialogOpen = false;">
        <div class="form-set">
          <label id="name-label" for="name">Name</label>
            <input
                   type="text"
                   name="name"
                   ngModel
                   id="name"
                   class="form-control"
                   placeholder="Enter your name"
                   required/>
        </div>
    
        <div class="form-set">
          <label id="email-label" for="email">E-mail</label>
            <input
                   type="email"
                   name="email"
                   id="email"
                   ngModel
                   class="form-control"
                   placeholder="Enter your e-mail"
                   required/>
        </div>
    
        <div class="form-set">
          <label id="number-label" for="number">Phone Number</label>
            <input
                   type="number"
                   ngModel
                   name="number"
                   id="number"
                  
                   class="form-control"
                   placeholder="Phone"/>
        </div>
    
        <!-- <div class="form-set">
          <label id="drop-label">Which Country Are You From?</label>
          <select id="dropdown" name="role" class="form-control" required>
            <option disabled selected value>Select current role</option>
            <option value="student">USA</option>
            <option value="job">Canada</option>
            <option value="learner">Australia</option>
            <option value="preferNo">India</option>
            <option value="other">Other</option>
          </select>
        </div> -->
        <div class="form-set">
          <label id="country-label" for="country">Country and State</label>
            <input
                   type="text"
                   ngModel
                   name="country"
                   id="country"
                   class="form-control"
                   placeholder="Enter your country and state"
                   required/>
        </div>
        <div class="form-set">
          <label id="companyName-label" for="companyName">Company Name</label>
            <input
                   type="text"
                   ngModel
                   name="companyName"
                   id="companyName"
                   class="form-control"
                   placeholder="Enter your Company Name"
                   required/>
        </div>
      
       <div class="form-set">

          <button type="submit" id="submit" value="Submit" [disabled]="!f.form.valid" class="submit-button">
            Submit
          </button>

       </div>
      </form>
    </div>
  </div>

</dialog>


<div>
    <router-outlet></router-outlet>
</div>
<div *ngIf="!checkUrl">
    <router-outlet></router-outlet>
</div>