
<div *ngIf="!wholeDisplay" class="login-box" style="background: linear-gradient(to bottom, #1e90ff, #00008b);">
    <h2>Dashboard Access</h2>
    <form #form="ngForm"(ngSubmit)="login()">
      <div class="user-box">
        <input type="text" ngModel name="user" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" ngModel name="password" required="">
        <label>Password</label>
      </div>
      <button style="background-color: aliceblue;" type="submit" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
      </button>
    </form>
  </div>

<body *ngIf="wholeDisplay"> 
    <!-- =============== Navigation ================ -->
    <div  class="container">
        <div class="navigation" [ngClass]="{ active: toggleActive }">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="planet-outline"></ion-icon>
                        </span>
                        <span class="title">ANNAPURNA</span>
                    </a>
                </li>

                <li>
                    <a (click)="dryGroceryToggleFunction()">
                        <span class="icon">
                            <ion-icon name="fast-food-outline"></ion-icon>
                        </span>
                        <span class="title">Dry Grocery</span>
                    </a>
                </li>

                <li>
                    <a (click)="cigaretToggleFunction()">
                        <span class="icon">
                            <ion-icon name="logo-no-smoking"></ion-icon>
                        </span>
                        <span class="title">Cigarettes</span>
                    </a>
                </li>

                <li>
                    <a (click)="despicableVapeToggleFunction()">
                        <span class="icon">
                            <ion-icon name="color-wand-outline"></ion-icon>
                        </span>
                        <span class="title">Despicable Vape</span>
                    </a>
                </li>

                <li>
                    <a (click)="electronicToggleFunction()">
                        <span class="icon">
                            <ion-icon name="desktop-outline"></ion-icon>
                        </span>
                        <span class="title">Electronics</span>
                    </a>
                </li>

                <li>
                    <a (click)="healthAndBeautyToggleFunction()">
                        <span class="icon">
                            <ion-icon name="medkit-outline"></ion-icon>
                        </span>
                        <span class="title">Health & Beauty</span>
                    </a>
                </li>

                <li>
                    <a (click)="produceToggleFunction()">
                        <span class="icon">
                            <ion-icon name="cart-outline"></ion-icon>
                        </span>
                        <span class="title">Produce</span>
                    </a>
                </li>

                
                <li>
                    <a (click)="tobaccoFunction()">
                        <span class="icon">
                            <ion-icon name="leaf-outline"></ion-icon>
                        </span>
                        <span class="title">Tobacco</span>
                    </a>
                </li>

                <li>
                    <a (click)="dryGroceryToggleFunction()">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main" [ngClass]="{ active: toggleActive }">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon (click)="toggleMenu()" name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                   Admin Dashboard
                </div>
            </div>

            <div *ngIf="dryGroceryToggle">
                <app-dry-grocery></app-dry-grocery>
            </div>

            <div *ngIf="cigaretToggle">
                <app-cigaret></app-cigaret>
            </div>

            <div *ngIf="despicableVapeToggle">
                <app-despicable-vape></app-despicable-vape>
            </div>

            <div *ngIf="electronicToggle">
                <app-electronic></app-electronic>
            </div>

            <div *ngIf="healthAndBeautyToggle">
                <app-health-and-beauty></app-health-and-beauty>
            </div>

            <div *ngIf="produceToggle">
                <app-produce></app-produce>
            </div>

            <div *ngIf="tobacco">
                <app-tobacco></app-tobacco>
            </div>

        </div>
    </div>
</body>
