

<div class="home-main container-fluid">
  <!-- <div class="home-hero section-container">
    <div class="home-max-width max-width-container">
      <div class="home-hero1">
        <div class="home-container03">
          <div class="home-info">
            <img
              alt="Rectangle43271305"
              src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMicgaGVpZ2h0PSc1Micgdmlld0JveD0nMCAwIDIgNTInIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+CjxyZWN0IHdpZHRoPScyJyBoZWlnaHQ9JzUyJyBmaWxsPSdibGFjaycgZmlsbC1vcGFjaXR5PScwLjUnLz4KPC9zdmc+Cg=="
              class="home-image4"
            />
            <span class="home-text12">
              <span>Trending</span>
              <br />
              <span>products - 2023</span>
            </span>
          </div>

          <h1 class="home-text16 Heading-1">Yellowstone</h1>
          <div class="home-container04">
            <span class="home-text17">FROM</span>
            <span class="home-text18">$339</span>
          </div>
          <div class="home-btn-group">
            <div>
              <div class="slider-wrapper">
                <div class="slider">
                  <div class="text1">Best</div>
                  <div class="text2">Products</div>
                  <div class="text3">Selling</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          alt="image23271449"
          src="https://www.fitbit.com/global/content/dam/fitbit/global/marketing-pages/home/tablet/home-product-tile-smartwatches-sense2-fall22.png"
          class="home-image5"
        />
      </div>
    </div>
  </div> -->
  <!-- <div class="container">
    <div class="sidebar">
      <div style="background: linear-gradient(115deg, #e10425 -25%, #101636 60%)">
        <h1>Premium Cigars:</h1>
        <p class="text-center">Explore our collection of premium cigars, handcrafted</p>
      </div>
      <div style="background: radial-gradient(#046eba -29%, #0a2836 105%)">
        <h1>Latest Tech Trends:</h1>
        <p class="text-center">Enhance your electronic devices</p>
      </div>
      <div style="background: radial-gradient(#aac0d7 -45%, #18191d 89%)">
        <h1>Skincare Essentials:</h1>
        <p class="text-center"> Explore our assortment of personal care products</p>
      </div>
      <div
           style="
                  background: linear-gradient(193.32deg, #e81b46 10%, #774561 153%);
                  "
           >
        <h1>Warehouse Solutions:</h1>
        <p class="text-center"> From pallet racking systems and shelving units</p>
      </div>
      <div
           style="background: linear-gradient(90deg, #5d0e5d 1%, #022a50 128%)"
           >
        <h1>Vape Mods and Tanks:</h1>
        <p class="text-center"> ensure a safe and enjoyable vaping experience.</p>
      </div>
      <div
           style="background: linear-gradient(90deg, #047f4d 25%, #2ee50c 136%)"
           >
        <h1>Seasonal Delights:</h1>
        <p class="text-center">Selection of seasonal produce.</p>
      </div>
    </div>
    <div class="main-slide">
      <div
           style="
                  background-image: url('https://images.unsplash.com/photo-1550989460-0adf9ea622e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dmVnZXRhYmxlJTIwbWFya2V0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
                  "
           ></div>
      <div
           style="
                  background-image: url('https://images.unsplash.com/photo-1611898674096-762e2462f2b3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dmFwZSUyMHB1cnBsZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
                  "
           ></div>
      <div
           style="
                  background-image: url('https://images.unsplash.com/photo-1508358829795-0be2de8be018?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fHJlZCUyMHNvZmF8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
                  "
           ></div>
      <div
           style="
                  background-image: url('https://images.unsplash.com/photo-1465426721606-27b1239015fd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGJlYXV0eSUyMHByb2R1Y3RzJTIwYmxhY2slMjBhbmQlMjB3aGl0ZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
                  "
           ></div>
      <div
           style="
                  background-image: url('https://images.unsplash.com/photo-1547658718-1cdaa0852790?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjl8fGxhcHRvcCUyMGJsdWV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
                  "
           ></div>
      <div
           style="
                  background-image: url('https://images.unsplash.com/photo-1487174244970-cd18784bb4a4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTg3fHxyZWQlMjB0b2JhY2NvfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
                  "
           ></div>
    </div>
    <div class="controls">
      <button class="down-button">
        <i class="fas fa-arrow-down"></i>
      </button>
      <button class="up-button">
        <i class="fas fa-arrow-up"></i>
      </button>
    </div>
  </div> -->
  <div class="section-container">
    <div class="max-width-container">
      <section-heading></section-heading>
      <div class="home-gallery">
        <div class="home-left1">
          <item-card
            name="Women dress"
            value="5"
            image_src="https://images.unsplash.com/photo-1532453288672-3a27e9be9efd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fENsb3RoZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
            rootClassName="rootClassName4"
          ></item-card>
        </div>
        <div class="home-right1">
          <div class="home-top">
            <div class="home-left2">
              <item-card
                name="Luxury Executive Chair"
                image_src="assets/img7.jpg"
                rootClassName="rootClassName2"
              ></item-card>
            </div>
            <div class="home-right2">
              <item-card
                name="Iphone"
                value="299"
                image_src="assets/img6.jpg"
                rootClassName="rootClassName3"
              ></item-card>
            </div>
          </div>
          <div class="home-bottom">
            <div class="home-left3">
              <item-card
                name="Black Studio Lamp"
                value="149"
                image_src="assets/img4.jpg"
                rootClassName="item-card-root-class-name1"
              ></item-card>
            </div>
            <div class="home-right3">
              <item-card
                name="Jars"
                value="49"
                image_src="assets/img1.jpg"
                rootClassName="item-card-root-class-name6"
              ></item-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container column">
    <div class="max-width-container">
      <section-heading
        heading="SHOP BY CATEGORIES"
        subtitle="Start shopping based on the categories you are interested in"
      ></section-heading>
      <div class="home-cards-container">
        <!-- <category-card (click)="dryGrocery()"
          category_img="https://images.unsplash.com/photo-1615478441828-1b28a6115394?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8RHJ5JTIwR3JvY2VyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
        ></category-card> -->
        <!-- <category-card (click)="cigarette()" name="Cigarette"></category-card> -->
        <category-card (click)="despicableVape()"
          name="Disposable Vape"
          category_img="https://images.unsplash.com/photo-1594177914682-d408d96e458b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dmFwZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
        ></category-card>
        <category-card (click)="electronic()"
          name="Electronic"
          category_img="https://images.unsplash.com/photo-1575125069494-6a0c5819d340?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z2FnZXRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
        ></category-card>
        <category-card (click)="healthAndBeauty()"
          name="Health & Beauty"
          category_img="https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29zbWV0aWNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
        ></category-card>
        <!-- <category-card (click)="produce()"
          name="Produce"
          category_img="https://images.unsplash.com/photo-1516594798947-e65505dbb29d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2R1Y2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
        ></category-card> -->
        <!-- <category-card (click)="tobacco()"
          name="Tobacco"
          category_img="https://images.unsplash.com/photo-1630526974594-501cb00c10bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHdlZWR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
        ></category-card> -->
        <category-card (click)="wareHouse()"
        name="Houseware"
        category_img="https://images.unsplash.com/photo-1586528116311-ad8dd3c8310d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d2FyZWhvdXNlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
      ></category-card>
      <category-card (click)="accessories()"
      name="Accessories"
      category_img="https://images.unsplash.com/photo-1506169894395-36397e4aaee4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGFjY2Vzc29yaWVzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
    ></category-card>
    <!-- <category-card (click)="household()"
    name="Household"
    category_img="https://images.unsplash.com/photo-1604762433261-a046add6fc11?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG91c2Vob2xkfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
  ></category-card> -->
      </div>
    </div>
    
    <!-- slider-start -->
    <div class="container-xl">
      <div class="row">
        <div class="col-md-12">
          <h2 class="slider-header">Featured <b>Products</b></h2>
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>   
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <div class="row">
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="assets/img12.jpg" class="img-fluid" alt="">									
                    </div>
                    <div class="thumb-content">
                      <h4>Apple iPad</h4>									
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <p class="item-price"><small>$400.00</small> <b>$369.00</b></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="assets/img12.jpg" class="img-fluid" alt="Headphone">
                    </div>
                    <div class="thumb-content">
                      <h4>Sony Headphone</h4>									
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <p class="item-price"><small>$25.00</small> <b>$23.99</b></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>		
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="assets/img12.jpg" class="img-fluid" alt="Macbook">
                    </div>
                    <div class="thumb-content">
                      <h4>Macbook Air</h4>									
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                      </div>
                      <p class="item-price"><small>$899.00</small> <b>$649.00</b></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>								
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="assets/img12.jpg" class="img-fluid" alt="Nikon">
                    </div>
                    <div class="thumb-content">
                      <h4>Nikon DSLR</h4>									
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <p class="item-price"><small>$315.00</small> <b>$250.00</b></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>
              </div>
            </div>
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="assets/img12.jpg" class="img-fluid" alt="Play Station">
                    </div>
                    <div class="thumb-content">
                      <h4>Sony Play Station</h4>
                      <p class="item-price"><small>$289.00</small> <span>$269.00</span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="assets/img12.jpg" class="img-fluid" alt="Macbook">
                    </div>
                    <div class="thumb-content">
                      <h4>Macbook Pro</h4>
                      <p class="item-price"><small>$1099.00</small> <span>$869.00</span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="assets/img13.jpg" class="img-fluid" alt="Speaker">
                    </div>
                    <div class="thumb-content">
                      <h4>Bose Speaker</h4>
                      <p class="item-price"><small>$109.00</small> <span>$99.00</span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="assets/img14.jpg" class="img-fluid" alt="Galaxy">
                    </div>
                    <div class="thumb-content">
                      <h4>Samsung Galaxy S8</h4>
                      <p class="item-price"><small>$599.00</small> <span>$569.00</span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>						
              </div>
            </div>
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="assets/img15.jpg" class="img-fluid" alt="iPhone">
                    </div>
                    <div class="thumb-content">
                      <h4>Apple iPhone</h4>
                      <p class="item-price"><small>$369.00</small> <span>$349.00</span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="assets/img5.jpg" class="img-fluid" alt="Canon">
                    </div>
                    <div class="thumb-content">
                      <h4>Canon DSLR</h4>
                      <p class="item-price"><small>$315.00</small> <span>$250.00</span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="assets/img5.jpg" class="img-fluid" alt="Pixel">
                    </div>
                    <div class="thumb-content">
                      <h4>Google Pixel</h4>
                      <p class="item-price"><small>$450.00</small> <span>$418.00</span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>	
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="assets/img5.jpg" class="img-fluid" alt="Watch">
                    </div>
                    <div class="thumb-content">
                      <h4>Apple Watch</h4>
                      <p class="item-price"><small>$350.00</small> <span>$330.00</span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>						
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
        </div>
      </div>
    <!-- Slider-end -->
    <div class="home-banner">
      <div class="home-container05">
        <h3 class="home-text19 Heading-3">ANNAPURNA</h3>
        <span class="home-text20">
          <span></span>
          <span>Wholesales</span>
        </span>
      </div>
    </div>
    <!-- <div class="home-container06 max-width-container">
      <div class="home-container07">
        <span class="home-text23">
          <span>
            Annapurna Stores Inc. are unique reseller of modern products,
            designer-made,
          </span>
          <br />
          <span>home-decoration items, since 1997.</span>
          <br />
          <span>
            Our legacy guarantees exceptional product quality, unique designs
            and special prices for all of our product line-up. Lorem ipsum,
            consectetur adipiscing elit duis tristique sollicitudin nibh sit
            amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus
            vitae congue. Consectetur adipiscing elit duis tristique
            sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula
            ipsum a arcu cursus vitae congue
            <span [innerHTML]="raw0cip"></span>
          </span>
        </span>
        <img
          alt="M3271427"
          src="https://pngimg.com/d/letter_a_PNG6.png"
          class="home-svg"
        />
        <button class="button">Read more</button>
      </div>
    </div> -->
  </div>

  <div id="page_banner">
    <div id="banner" style="position: static">
      <div id="msg_box">
        <p class="summer_s">Summer Sales</p>
        <h1 id="seventy_p">50% OFF</h1>
        <p class="promo_c">with promo code CN67EW*</p>
        <button
          id="shop_now"
          type="submit"
          name="shop now"
          onclick="change()"
        >
          Shop now <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="home-full-width-banner section-container">
    <div class="home-left4">
      <div class="home-content">
        <span class="home-text29">LOOKBOOKS</span>
        <span class="home-text30">
          Carefully curated furniture, well matched in style and looks
        </span>
      </div>
      <div class="home-btn button">
        <span class="home-text31">Explore now</span>
      </div>
    </div>
    <img
      alt="Rectangle13271410"
      src="https://images.unsplash.com/photo-1615615228002-890bb61cac6e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHByb2R1Y3QlMjBpbWFnZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
      class="home-image6"
    />
  </div>
  <div class="section-container">
    <div class="max-width-container">
      <section-heading
        heading="Our blog"
        subtitle="Read the latest news and furniture related articles"
        rootClassName="section-heading-root-class-name"
      ></section-heading>
      <div class="home-container08">
        <blog-post-card
          image_src="assets/img5.jpg"
          rootClassName="blog-post-card-root-class-name"
        ></blog-post-card>
        <blog-post-card
          title="Unique natural color combinations"
          new_prop="Unique natural color combinations"
          image_src="assets/img10.jpg"
        ></blog-post-card>
        <blog-post-card
          title="Special combinations for nature lovers"
          new_prop="Special combinations for nature lovers"
          image_src="assets/img14.jpg"
        ></blog-post-card>
      </div>
    </div>
  </div>
</div>
<!-- <div class="home-footer">
  <div class="max-width-container">
    <footer class="home-footer1">
      <div class="home-container09">
        <h3 class="home-text32 Heading-3">ANNAPURNA</h3>
        <span class="home-text33">
          <span>4517 Washington Ave. Manchester, Kentucky 39495,</span>
          <br />
          <span>United States</span>
        </span>
        <span class="home-text36">(671) 555-0110</span>
        <span class="home-text37">contact@ANNAPURNA.com</span>
      </div>
      <div class="home-links-container">
        <div class="home-container10">
          <span class="home-text38">Categories</span>
          <span class="home-text39">Collections</span>
          <span class="home-text40">Desks</span>
          <span class="home-text41">Furniture</span>
          <span class="home-text42">Lamps</span>
          <span class="home-text43">Plants</span>
          <span class="home-text44">Decoration</span>
        </div>
        <div class="home-container11">
          <span class="home-text45">Company</span>
          <span class="home-text46">Shop</span>
          <span class="home-text47">Lookbook</span>
          <span class="home-text48">Specials</span>
          <span class="home-text49">About</span>
          <span class="home-text50">Blog</span>
        </div>
        <div class="home-container12">
          <span class="home-text51">Resources</span>
          <span class="home-text52">Contact us</span>
          <span class="home-text53">Order</span>
          <span class="home-text54">Track your order</span>
          <span class="home-text55">Shipping &amp; Delivery</span>
        </div>
      </div>
    </footer>
  </div>
</div> -->
<section class="section6">
<table>
<tr>
<td>
<img src="https://i.ibb.co/sjTCyXj/app.png" alt="APP">
</td>
<td>
<span class="title">Download Annapurna App Now</span>
<span class="sub-title">Fast, Simple & Delightful. All it takes is 15 seconds to Download.</span>
<a href="#" class="btn1"><i class="fa fa-android"></i> DOWNLOAD</a>
</td>
</tr>
</table>
</section>
<div class="footer" style="    width: 100%;
margin-top: -10%;">
  <div class="container" style="height: 50vh;">     
      <div class="row">                       
          <div class="col-lg-4 col-sm-4 col-xs-12">
              <div class="single_footer">
                  <h4>Services</h4>
                  <ul>
                      <li><a href="#">Fast Customer Services</a></li>
                      <li><a href="#">Delivery</a></li>
                      <li><a href="#">Quality Products</a></li>
                  
                  </ul>
              </div>
          </div><!--- END COL --> 
          <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single_footer single_footer_address">
                  <h4>Page Link</h4>
                  <ul>
                      <li><a href="https://www.facebook.com/annapurnafoodandgrocery?mibextid=LQQJ4d">Facebook</a></li>
                      <li><a href="#">Mobile APP</a></li>
                     
                  </ul>
              </div>
          </div><!--- END COL -->
          <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single_footer single_footer_address">
                  <h4>Subscribe today</h4>
                  <div class="signup_form">                           
                      <form action="#" class="subscribe">
                          <input type="text" class="subscribe__input" placeholder="Enter Email Address">
                          <button type="button" class="subscribe__btn"><i class="fas fa-paper-plane"></i></button>
                      </form>
                  </div>
              </div>
              <div class="social_profile">
                  <ul>
                      <li><a target="_blank"  href="https://www.facebook.com/annapurnafoodandgrocery?mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  </ul>
              </div>                          
          </div><!--- END COL -->         
      </div><!--- END ROW -->               
  </div><!--- END CONTAINER -->
</div>
<!-- <form action="https://formsubmit.co/811e3174953e6de987a8e2c44d7e167b" method="POST">
<input type="text" name="name" required>
<input type="email" name="email" required>
<button type="submit">Send</button>
</form> -->
