.logo {
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.no-shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

ion-toolbar {
    --background: #428cff;
    --color: #fff;

}
